body {
    background-color: blue;
  }
  
 /* h1 {
    color: rgb(147, 248, 255)147, 147, 156);
    margin-left: 20px;
  }*/

 body {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  list-style-type: none;
  width: 25%;
  background-color: #f1f1f1;


 }

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }

