body {background-color: black;}

/*Navigation Bar*/
.nav {width: 150px; position: fixed;
    z-index: 1; top: 20px; left: 10px; background-color:black;
    overflow-x: hidden; padding: 8px 0;
}
.nav  li {display: inline-block; padding: 0 25px 0 25px}
.nav  li  a {text-decoration: none; color:whitesmoke; font-size: 25px;
    display: block; padding: 6px 8px 6px 16px;
}


/* About Page Headings*/
.h1about{text-align: center;color: goldenrod;font-family:cursive;}
.abouth2 {text-align: center;color: goldenrod;}
.abouth1d {text-align: center;color: goldenrod;}

/*Paragraphs*/
.Ap {text-align: center;color: white;border: solid goldenrod;border-width: 50px;padding: 10%; font-size: 30px; background-color: black;}
.Ap2 {text-align: center;color: white;}

/*Grid layout and Images*/
.Pro{align-self: center;margin-top: -1.2%;}
.pplPic {border-radius: 50%;
    
   }