/* *,
*::before
*::after
{box-sizing: border-box;}


/* Customize the Properties*/
/* :root {

    --ff--primary:'Source Sans Pro', sans-serif ;
    --ff--secondary: 'Source Code Pro', monospace;

    --fw-reg:300;
    --fw-bold:900;

    --clr-light:rgb(255, 255, 255);
    --clr-dark: #303030;    
    --clr-accent:rgb(212, 93, 14);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body:1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
 */ */


.header
{   
    font:darkgoldenrod;
    font-family: monospace;
    font-size: 2em;
    text-align: left;
    padding: 5;
    border:100;
    font-family: bold;
    text-size-adjust: 100;

}



.nav {width: 150px; position: fixed;
  z-index: 1; top: 20px; left: 10px; background-color: black;
  overflow-x: hidden; padding: 8px 0;
}
.nav  li {display: inline-block; padding: 0 25px 0 25px}
.nav  li  a {text-decoration: none; color:whitesmoke; font-size: 25px;
  display: block; padding: 6px 8px 6px 16px;
}
.nav li  a:hover {color: gold}




body
{   background-image: url(/Webpages/Css/jorge-gascon-dZOYdWtko-Q-unsplash.jpg) ;
    background-size: cover;
    color: white;
    text-align: right;
    font: white;
}
.slider
{
    background-image: url(/c/Users/Jacin/OneDrive/Pictures/Urban_Interiors/jorge-gascon-dZOYdWtko-Q-unsplash.jpg) ;
    background-size: cover;
    height: 100vh;
}


p {
  list-style-type: none;
  margin: 2.5%;
  padding: 3%;
  text-align:center;
  list-style-type: none;
  width: 95%;
  background-color:black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    width: 100%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    }

    
/* Style for my cols */
/* .my_container {
    border: 1px solid black;
    position: left;
} */

.my_row {
    border: 3px solid darkgoldenrod;
    margin: 0%;
    padding: 0%;
}

.my_col {
    border: 3px solid darkgoldenrod;
    margin: 0%;
    padding: 0%;    ;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);;
    width: 10em;
    height: 25em;
}

.img_out_loft {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.img_out_penthouse {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.img_out_town_home {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.img_out_condo {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.para {
    background-color: none;
}